In [1]:
import pandas as pd

Muestra un DataFrame con los datos de la siguiente tabla:

```
  Mes     Ingresos     Gastos
  Enero   21500        17000
  Febrero 17600        15400
  Marzo   25000        19200
  Abril   34800        22500
```

In [9]:
datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ingreso': ['21500', '17600', '25000', '34800'], 'Gastos': ['17000', '15400', '19200', '22500']}
df = pd.DataFrame(datos)
df

       Mes Ingreso Gastos
0    Enero   21500  17000
1  Febrero   17600  15400
2    Marzo   25000  19200
3    Abril   34800  22500

:Escribe una funcion que reciba el DataFrame del ejercicio anterior y devuelva el beneficio total de cada mes (Ingresos - Gastos).

In [12]:
def beneficio(datos):
  # Access columns using bracket notation and correct column names
  datos['beneficio'] = datos['Ingreso'].astype(int) - datos['Gastos'].astype(int)
  return datos

In [13]:
beneficio(df)

       Mes Ingreso Gastos  beneficio
0    Enero   21500  17000       4500
1  Febrero   17600  15400       2200
2    Marzo   25000  19200       5800
3    Abril   34800  22500      12300

En github he subido el fichero titanic.csv (obtenido de kaggle.com) y realizar las siguientes operaciones.


1.   Generar un DataFrame con los datos del fichero indicado.
2.   Mostrar sus dimensiones, el numero de datos que contiene, nombres de las columnas y filas, tipos de datos de las columnas y mostrar las 5 primeras filas y las 5 ultimas.
3.   Mostrar los datos del pasajero con identificador 121.
4.   Mostrar las filas impares del DataFrame.
5.   Cuantas personas sobrevivieron y murieron, indicar porcentaje.
6.   Personas que estaban en segunda clase por orden alfabetico.
7.   Eliminar los pasajeros que no tengan registrada su edad o sea nula.
8.   Porcentaje de personas que murieron por cada clase.
9.   Edad media de hombres y mujeres que viajaban en cada clase.
10.  Añadir nueva columna que indique si el pasajero era menor de edad o no.
11.  Mostrar el porcentaje de menores y mayores de edad que sobrevivieron.

In [17]:
titanic = pd.read_csv('titanic.csv', index_col=0)
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
#2. Mostrar Dimensiones
print("Dimensiones: ", titanic.shape)
print("Numero de datos: ", titanic.size)
print("Nombres de las columnas: ", titanic.columns)
print("Nombres de las filas: ", titanic.index)
print("Tipos de datos: \n", titanic.dtypes)
print("Primeras 5 filas: \n", titanic.head())
print("Ultimas 5 filas: \n", titanic.tail())

Dimensiones:  (891, 11)
Numero de datos:  9801
Nombres de las columnas:  Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Nombres de las filas:  Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
      dtype='int64', name='PassengerId', length=891)
Tipos de datos:
 Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object
Primeras 5 filas:
              Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
Ultimas 5 filas:
              Survived  Pclass                                      Name  \
PassengerId
887                 0       2                     Montvila, Rev. Juozas
888                 1       1              Graham, Miss. Margaret Edith
889                 0       3  Johnston, Miss. Catherine Helen "Carrie"
890                 1       1                     Behr, Mr. Karl Howell
891                 0       3                       Dooley, Mr. Patrick

                Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
PassengerId
887            male  27.0      0      0      211536  13.00   NaN        S
888          female  19.0      0      0      112053  30.00   B42        S
889          female   NaN      1      2  W./C. 6607  23.45   NaN        S
890            male  26.0      0      0      111369  30.00  C148        C
891            male  32.0      0      0      370376   7.75   NaN        Q

In [22]:
#3 Pasajero 121
titanic.loc[121]

Survived                              0
Pclass                                2
Name        Hickman, Mr. Stanley George
Sex                                male
Age                                21.0
SibSp                                 2
Parch                                 0
Ticket                     S.O.C. 14879
Fare                               73.5
Cabin                               NaN
Embarked                              S
Name: 121, dtype: object

In [23]:
#4 Filas impares
titanic.iloc[range(0,titanic.shape[0],2)]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
#5 Supervivientes
titanic['Survived'].value_counts()/titanic['Survived'].count()*100

Survived
0    61.616162
1    38.383838
Name: count, dtype: float64

In [29]:
#6. Segunda clase
#titanic[titanic['Pclass']==2].sort_values('Name')
pasajeros_segunda=titanic[titanic['Pclass']==2]['Name'].sort_values()
pasajeros_segunda.head(5)

PassengerId
309                                  Abelson, Mr. Samuel
875                Abelson, Mrs. Samuel (Hannah Wizosky)
145                           Andrew, Mr. Edgardo Samuel
519    Angle, Mrs. William A (Florence "Mary" Agnes H...
758                             Bailey, Mr. Percy Andrew
Name: Name, dtype: object

In [32]:
#7.Eliminar nulos Edad
#titanic.dropna(subset=['Age'])
titanic=titanic.dropna(subset=['Age'])
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
#8.Muertos por clase
titanic.groupby('Pclass')['Survived'].value_counts(normalize= True)*100

Pclass  Survived
1       1           65.591398
        0           34.408602
2       0           52.023121
        1           47.976879
3       0           76.056338
        1           23.943662
Name: proportion, dtype: float64

In [40]:
#9. Edad media por clase
titanic.groupby(['Pclass', 'Sex'])['Age'].mean()

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

In [44]:
#10. Menor de edad
titanic['Menor']=titanic['Age']<18
titanic['Menor'].head()
#titanic.head()

<ipython-input-44-b7cf026c52c0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic['Menor']=titanic['Age']<18

PassengerId
1    False
2    False
3    False
4    False
5    False
Name: Menor, dtype: bool

In [46]:
#11. Mostrar % de Menores y Mayores de Edad
titanic.groupby(['Pclass', 'Menor'])['Survived'].value_counts(normalize= True)*100

Pclass  Menor  Survived
1       False  1           63.793103
               0           36.206897
        True   1           91.666667
               0            8.333333
2       False  0           58.666667
               1           41.333333
        True   1           91.304348
               0            8.695652
3       False  0           79.783394
               1           20.216606
        True   0           62.820513
               1           37.179487
Name: proportion, dtype: float64